body
{
    background-color: black;
    color: white;
    background-image: url('bg.png');
}
.landing
{
    width: auto;
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    color: black;
    background-color: white;
    border: black solid;
    border-radius: 15px;
    margin-right: 50px;
    margin-left:50px;
    margin-top: 50px;
    box-shadow: #dfdfdfac 1px 10px 2px 10px;

}
.landing iframe 
{
    height: 400px;
    width: 100%;
}

#searchBox
{
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
    height: 30px;
    margin-top: 10px;
    border: black solid;
    border-radius: 15px;
    background-color: rgba(141, 136, 136, 0.788);
    color: white;
    font-size: 20px;

}
#searchBox::placeholder
{
    color: white;
}
.result
{
    display: flex;
    flex-direction: row;
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}
.result img{
    height: 200px;
    width: 300px;
}